<?xml version="1.0" encoding="utf-8"?>
<save>
	<version major="4" minor="0" revision="0" build="47" />
	<region id="Templates">
		<node id="Templates">
			<children>
				<%- mainItems %>
				<%- mindFlayerModels %>
				<%- portalShards %>
				<%- gravityStones %>
				<%- resonanceStones %>
				<%- commonWeapons %>
				<%- grenades %>
				<%- spells %>
				<%- thralls %>
				<%- weaponOils %>
				<%- aquariums %>
			</children>
		</node>
	</region>
</save>
